<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício TEPI - Avaliativo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Tela de Login</h1>
    <%= msg %>

    <form action="/login" method="post">
        <label for="usuario">Usuário:</label>
        <input type="text" name="usuario" id="usuario">
        <br>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha">
        <br>
        <button type="submit">Entrar</button>
        <button><a href="/cadastrar">Cadastrar</a></button>
    
    </form>
</body>
</html>