<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Usuário</title>
    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
    <h1>Atualizar Usuário</h1>

    <form action="/users/update/<%= user.email %>" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="name" id="nome" value="<%= user.name %>" required aria-required="true">

        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="<%= user.email %>" required aria-required="true">

        <label for="senha">Senha:</label>
        <input type="password" name="password" id="senha" required>

        <button type="submit">Atualizar</button>
    </form>
    <a href="/login">Voltar</a>

</body>
</html>