<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Usuário</title>
</head>
<body>
    <h1>Detalhes do Usuário</h1>
    <p>Nome: <%= users.name %></p>
    <p>Email: <%= users.email %></p>

    <a href="/">Voltar à página inicial</a>
</body>
</html>